In [45]:
import pandas as pd
import numpy as np

In [46]:
path = "WHO_Disaster_Data.xlsx"
data_text = pd.read_excel(path, sheet_name='data-text')
country = pd.read_excel(path, sheet_name='Country')

In [47]:
who_data = pd.DataFrame(data_text)
who_country = pd.DataFrame(country)

In [48]:
list(data_text)

['PUBLISH STATES (string)',
 'Year (string)',
 'WHO region (string)',
 'Country (string)',
 'Sex (string)',
 'Average death rate due to natural disasters (per 100 000 population) (string)',
 'Average death rate due to natural disasters (per 100 000 population) (numeric)',
 'Average death rate due to natural disasters (per 100 000 population) (comment)']

In [49]:
whocc = data_text[['Year (string)','Country (string)', 'Sex (string)']]

renamed = whocc.rename(columns={'Year (string)': 'Year',
                      'Country (string)': 'Country', 
                      'Sex (string)': 'Gender'})
renamed.head()

        Year  Country      Gender
0  2012-2016  Algeria        Male
1  2012-2016  Algeria      Female
2  2012-2016  Algeria  Both sexes
3  2012-2016   Angola        Male
4  2012-2016   Angola      Female

In [50]:
list(country)

['Code',
 'DisplayValue',
 'URL',
 'DS',
 'FIPS',
 'IOC',
 'ISO2',
 'ISO',
 'ITU',
 'MARC',
 'WHO',
 'WMO',
 'GEOMETRY',
 'MORT',
 'LAND_AREA_KMSQ_2012',
 'LANGUAGES_EN_2012',
 'WHO_REGION',
 'WHO_REGION_CODE',
 'World Bank income group',
 'World Bank income group code',
 'SHORTNAMEES',
 'SHORTNAMEFR',
 'WHOLEGALSTATUS',
 'World Bank income group GNI reference year',
 'World Bank income group release date']

In [52]:
whocountry = who_country[['DisplayValue','MORT','LAND_AREA_KMSQ_2012', 'WHO_REGION']]

country_rename = whocountry.rename(columns={'DisplayValue': 'Country',
                                            'MORT': 'Mortality',
                                              'LAND_AREA_KMSQ_2012': 'Land Area', 
                                              'WHO_REGION': 'Region'})
country_rename.head()

               Country  Mortality  Land Area                 Region
0          Afghanistan     3010.0    652,230  Eastern Mediterranean
1              Albania     4005.0     27,400                 Europe
2              Algeria     1010.0  2,381,740                 Africa
3               Angola     1020.0  1,246,700                 Africa
4  Antigua and Barbuda     2010.0        440               Americas

In [53]:
combine = pd.merge(country_rename, renamed, on="Country")

In [61]:
#redcc[(redcc["KPI_Year"]>=2012)]
finalwho = combine[(combine['Gender'] =='Both sexes')]
finalwho.head()

,Country,Mortality,Land Area,Region,Year,Gender
2,Afghanistan,3010.0,"652,230",Eastern Mediterranean,2012-2016,Both sexes
5,Albania,4005.0,"27,400",Europe,2012-2016,Both sexes
8,Algeria,1010.0,"2,381,740",Africa,2012-2016,Both sexes
11,Angola,1020.0,"1,246,700",Africa,2012-2016,Both sexes
14,Antigua and Barbuda,2010.0,440,Americas,2012-2016,Both sexes

In [62]:
finalwho.to_csv("who_clean.csv")