In [29]:
import pandas as pd
import numpy as np

In [30]:
path = "WHO_Disaster_Data.xlsx"
data_text = pd.read_excel(path, sheet_name='data-text')
country = pd.read_excel(path, sheet_name='Country')

In [31]:
who_data = pd.DataFrame(data_text)
who_country = pd.DataFrame(country)

In [32]:
whocc = data_text[['Year (string)','Country (string)', 'Sex (string)']]

renamed = whocc.rename(columns={'Year (string)': 'Year',
                      'Country (string)': 'Country', 
                      'Sex (string)': 'Gender'})
renamed.head()

        Year  Country      Gender
0  2012-2016  Algeria        Male
1  2012-2016  Algeria      Female
2  2012-2016  Algeria  Both sexes
3  2012-2016   Angola        Male
4  2012-2016   Angola      Female

In [7]:
whocountry = who_country[['DisplayValue','MORT','LAND_AREA_KMSQ_2012', 'WHO_REGION']]

country_rename = whocountry.rename(columns={'DisplayValue': 'Country',
                                            'MORT': 'Mortality',
                                              'LAND_AREA_KMSQ_2012': 'Land_Area', 
                                              'WHO_REGION': 'Region'})
country_rename.head()

               Country  Mortality  Land_Area                 Region
0          Afghanistan     3010.0    652,230  Eastern Mediterranean
1              Albania     4005.0     27,400                 Europe
2              Algeria     1010.0  2,381,740                 Africa
3               Angola     1020.0  1,246,700                 Africa
4  Antigua and Barbuda     2010.0        440               Americas

In [26]:
combine = pd.merge(country_rename, renamed, on="Country", left_index=False)
combine =pd.index.drop

AttributeError: module 'pandas' has no attribute 'index'

In [37]:
#redcc[(redcc["KPI_Year"]>=2012)]
finalwho = combine[(combine['Gender'] =='Both sexes')]
finalwho.set_index('Country', inplace=True)
finalwho.head()

,Mortality,Land_Area,Region,Year,Gender
Country,,,,,
Afghanistan,3010.0,"652,230",Eastern Mediterranean,2012-2016,Both sexes
Albania,4005.0,"27,400",Europe,2012-2016,Both sexes
Algeria,1010.0,"2,381,740",Africa,2012-2016,Both sexes
Angola,1020.0,"1,246,700",Africa,2012-2016,Both sexes
Antigua and Barbuda,2010.0,440,Americas,2012-2016,Both sexes

In [39]:
finalwho.to_csv("who_clean.csv")